* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: black; */
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

.historyButton {
  font-family: sans-serif;
  font-size: 12px;
  padding: 4px;
  width: 100%;
  margin-bottom: 6px;
  border-radius: 4px;
  border-width: 1px;
}

@keyframes pulse-blue {
  0% {
    background-color: #4da6ff;
    box-shadow: 0 0 5px #4da6ff;
  }

  50% {
    background-color: #80c1ff;
    box-shadow: 0 0 15px #80c1ff;
  }

  100% {
    background-color: #4da6ff;
    box-shadow: 0 0 5px #4da6ff;
  }
}

.currentButton {
  animation: pulse-blue 1.5s infinite;
  transition: background-color 0.3s ease-in-out;
}


ol {
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
  width: 140px;
}

* {
  box-sizing: border-box;
}

.square {
  background: #ffffff;
  border: 1px solid #999;
  border-radius: 5px;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

@keyframes pulse-green {
  0% {
    background-color: rgb(147, 245, 0);
    box-shadow: 0 0 5px rgb(147, 245, 0);
  }

  50% {
    background-color: rgb(201, 250, 144);
    box-shadow: 0 0 15px rgb(201, 250, 144);
  }

  100% {
    background-color: rgb(147, 245, 0);
    box-shadow: 0 0 5px rgb(147, 245, 0);
  }
}

.winnerSquare {
  animation: pulse-green 1.5s infinite;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-top: 28px;
  margin-left: 20px;
  height: 340px;
}

.history {
  display: flex;
  flex-direction: row;
}

.swapIcon {
  width: 20px;
  height: 20px;
}

.swapButton {
  max-width: 22px;
  max-height: 22px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  background-color: transparent;
  border-width: 1px;
  border-radius: 4px;
}